<div class="panel panel-default">
     <ul class="nav nav-pills">
        <li role="presentation" class="active"><a asp-action="Painel">Relação de Todas as Notas</a></li>
    </ul>
</div>

<div class="panel panel-default">
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a asp-action="PainelGeral">Painel Geral</a></li>
    </ul>
</div>

<div class="panel panel-default">
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a asp-action="RelatorioErros">Relação de Notas Com Erros</a></li>
    </ul>
</div>
